@import "src/app/shared/styles/styles";

.header {
  text-align: left;
}

.course {
  width: 100%;
  padding: 42px 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & input {
      flex: 1;
    }

    & app-button {
      margin-left: 16px;
    }

    & .course__duration {
      margin-left: 16px;
    }
  }

  &__authors {
    list-style: none;
    margin-top: 8px;
    display: flex;

    &-item {
      margin-right: 16px;
    }

    &-icon {
      cursor: pointer;
      margin-left: 8px;
    }
  }

  &__icon {
    margin-left: 4px;
    cursor: pointer;
  }
}

.form__action {
  margin: 60px 0 0 0;

  &-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}

.form__control {
  margin-bottom: 0;
}

.text-danger {
  position: static;
}
