.course-page {
  background: #f7f7f7;
  height: 100vh;
}

.header__action {
  display: flex;
  gap: 26px;
  align-items: center;
}

.container {
  max-width: 1104px;
  margin: 0 auto;
  margin-top: 54px;
}
